<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.donor.business.mapper.UserMapper">

    <insert id="createUser">
        INSERT into`user`
        (id,user_name,`password`,picture,tel_phone,email,gender,login_token,create_time,update_time)
        VALUES(
                  null ,
                  #{user.userName},
                  #{user.password},
                  #{user.picture},
                  #{user.telPhone},
                  #{user.email},
                  #{user.gender},
                  #{user.loginToken},
                  now(),
                  now()
              )
    </insert>
</mapper>